[project]
	description = The Framework to everybody fell easier to start an embedded project. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kevintruong
[access "refs/for/refs/*"]
	read = group user/kevintruong
	push = group user/kevintruong
	label-Code-Review = -2..+2 group user/kevintruong
	label-Verified = -1..+1 group user/kevintruong
	rebase = group user/kevintruong
	removeReviewer = group user/kevintruong
	submit = group user/kevintruong
[access "refs/heads/*"]
	read = group user/kevintruong
	create = group user/kevintruong
	push = +force group user/kevintruong
	pushMerge = group user/kevintruong
[access "refs/tags/*"]
	push = group user/kevintruong
	push = +force group user/kevintruong
